
.cardGridItem {
    
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.5rem; 
}


@media (min-width: 769px) and (max-width: 996px) {
    .cardGridItem {
        width: 50%;
        padding: 0 0.75rem;
    }
}


@media (min-width: 997px) {
    
    .cardGridItem {
        width: 30%; 
        padding: 0 0.75rem; 
    }
}

/* Cleanup for margin responsiveness */
@media (max-width: 996px) {
   .cardItem {
     margin-bottom: 1.5rem;
  }
}